{% extends 'base.html' %} 


{%block content%}
<!-- Main Navigation -->
<style>
     html,
        body,
        header,
        .jarallax {
          height: 700px;
        }

        @media (max-width: 740px) {
          html,
          body,
          header,
          .jarallax {
            height: 100vh;
          }
        }

        @media (min-width: 800px) and (max-width: 850px) {
          html,
          body,
          header,
          .jarallax {
            height: 100vh;
          }
        }

        @media (min-width: 560px) and (max-width: 650px) {
          header .jarallax h1 {
            margin-bottom: 1.5rem !important;
          }
          header .jarallax h5 {
            margin-bottom: 1.5rem !important;
          }
        }

        .top-nav-collapse {
            background-color: #3f51b5!important;
        }
        .navbar:not(.top-nav-collapse) {
            background: transparent!important;
        }
        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #3f51b5!important;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #3f51b5!important;
            }
        }
        h5 {
            letter-spacing: 3px;
        }


</style>
<header>

        <!-- Intro Section -->
        <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2853%29.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
          <div class="mask rgba-stylish-light">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12 mb-3">
                        <div class="intro-info-content text-center">
                            <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s">ABOUT <a class="white-text font-weight-bold">US</a></h1>
                            <h5 class="text-uppercase white-text mb-5 mt-1 font-weight-bold wow fadeInDown" data-wow-delay="0.3s">Ready to provide quality to our clients Nationally </h5>
                            
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- Main Navigation -->

    <!-- Main Layout -->
    <main>

        <div class="container">

            <!-- Section: Team v.3 -->
            <section id="team" class="section team-section pb-4 wow fadeIn" data-wow-delay="0.3s">

                <!-- Section heading -->
                <h2 class="font-weight-bold text-center h1 my-5">Our amazing team</h2>
                <!-- Section description -->
                <p class="text-center grey-text mb-5 mx-auto w-responsive">We are determined to offer world-class services to our clients</p>

                <!-- Grid row -->
                <div class="row mb-lg-4 text-center text-md-left">

                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12 mb-4">

                        <div class="col-md-6 float-left">
                            <div class="avatar mx-auto mb-md-0 mb-3">
                                    <img src ="" class="z-depth-1" alt="Fourth sample avatar image" style= height:15rem;width:15rem >
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4><strong>Lisa Kiarie</strong></h4>
                            <h6 class="font-weight-bold grey-text mb-4">Founder and CEO</h6>
                            <p class="grey-text">Once I had an idea which I thought would change the world. I decided to gather a group of friends who were passionate about solving real world problems. I appreciate every support I have had from every one in my surrounding for heping my  dream become a reality.</p>

                            <!-- Facebook -->
                            <a class="p-2 m-2 fa-lg fb-ic"><i class="fab fa-facebook-f"> </i></a>
                            <!-- Twitter -->
                            <a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter"> </i></a>
                            <!-- Dribbble -->
                            <a class="p-2 m-2 fa-lg dribbble-ic"><i class="fab fa-dribbble"> </i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12 mb-4">

                        <div class="col-md-6 float-left">
                            <div class="avatar mx-auto mb-md-0 mb-3">
                                    <img src ="" class="z-depth-1" alt="Fourth sample avatar image" style= height:15rem;width:15rem >
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4><strong>Brian Kiroga</strong></h4>
                           <h6 class="font-weight-bold grey-text mb-4">FINANCIAL AID, WEBSITE DEVELOPMENT AND ADVISOR: (SILENT PARTNER)</h6>
                            <p class="grey-text">A young passionate developer who is passionate about using technology to solve real world problems.I decided to join Mechanic Hub to give maximum support to my friends in changing the world through tech. </p>

                            <!-- Facebook -->
                            <a class="p-2 m-2 fa-lg fb-ic"><i class="fab fa-facebook-f"> </i></a>
                            <!-- YouTube -->
                            <a class="p-2 m-2 fa-lg yt-ic"><i class="fab fa-youtube"> </i></a>
                            <!-- Instagram -->
                            <a class="p-2 m-2 fa-lg ins-ic"><i class="fab fa-instagram"> </i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row text-center text-md-left">

                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12 mb-4">

                        <div class="col-md-6 float-left">
                            <div class="avatar mx-auto mb-md-0 mb-3">
                                <img src ="" class="z-depth-1" alt="Fourth sample avatar image" style= height:15rem;width:15rem >
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4><strong>Tarrell Photography</strong></h4>
                            <h6 class="font-weight-bold grey-text mb-4">MEDIA EDITORS</h6>
                            <p class="grey-text">A full-stack developer with a passion for helping motorists have an easy time. I joined Mechanic Hub to provide solutions to everyday automotive problems.</p>

                            <!-- Facebook -->
                            <a class="p-2 m-2 fa-lg fb-ic"><i class="fab fa-facebook-f"> </i></a>
                            <!-- Twitter -->
                            <a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter"> </i></a>
                           <!-- GitHub -->
                            <a class="p-2 m-2 fa-lg git-ic"><i class="fab fa-github"> </i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="col-md-6 float-left">
                            <div class="avatar mx-auto mb-md-0 mb-3">
                                    <img src ="" class="z-depth-1" alt="Fourth sample avatar image" style= height:15rem;width:15rem >
                            </div>
                        </div>

                        <div class="col-md-6 float-right">
                            <h4><strong>Christine Wanjiru</strong></h4>
                           <h6 class="font-weight-bold grey-text mb-4">Front-end Developer</h6>
                            <p class="grey-text">I love designing and the beauty it bring. I decided to use my skill to help Lucas and the Team to come up with this Amazing Hub</p>

                            <!-- Google + -->
                            <a class="p-2 m-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"> </i></a>
                            <!-- LinkedIn -->
                            <a class="p-2 m-2 fa-lg li-ic"><i class="fab fa-linkedin-in"> </i></a>
                            <!-- Email -->
                            <a class="p-2 m-2 fa-lg email-ic"><i class="fas fa-envelope"> </i></a>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Team v.3 -->

            <hr class="my-5">

            

          

        </div>

    </main>
    <!-- Main Layout -->

    <!-- Footer -->
    <footer class="page-footer pt-4 mt-4 indigo text-center text-md-left">

        <!-- Footer Links -->
        <div class="container">
            
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                &copy; 2020 Copyright: <a href=""> Alpharika.com </a>

            </div>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    {% endblock %}