INTERVIEW ANSWERS
<p>Kevin Nsabigaba Cloris</p>

<p>1.) What is epilepsy?</p>
      Epilepsy is a condition that can be hereditary but also can come from injury to the brain. It is caused by the clash of the electrolytes in the brain to transmission of messages to various parts of the body.
 <p>2.) What is an Aura?</p>
     An aura is a sensation that an epileptic individual will get prior to a seizure. This serves as a warning that gives the individual time to get a safe space. However not every individual gets auras. It is much harder for them because the seizure comes without warning at any time.
     Some symptoms that a seizure is about to occur are; sudden fatigue, immense heat, slowly loss body control, growing weak, dilated eyes, is unaware of the surrounding. The above mentioned may not be the same for every individual.
<p> 3.) What happens during a seizure?</p>
    The body becomes stiff (muscles are tensed), temperature raises, frothing of the mouth, shaking of entire body, unaware of surroundings, binding of the tongue, not responsive, speech impaired.